<progress *ngIf="isDeployed" class="progress is-small is-primary" max="100">15%</progress>
<p-confirmDialog [style]="{width: '50vw'}"></p-confirmDialog>

<p class="has-text-centered has-margin">
  <p-selectButton [options]="types" [(ngModel)]="selectedTypes" multiple="multiple"></p-selectButton>
</p>
<nav class="level">
  <p class="level-item has-text-centered">
    <button pButton class="ui-button-raised ui-button-success" type="button" icon="fas fa-paper-plane" (click)="deployToSIT()" [disabled]="isDeployed || selectedTypes.length === 0" label="Deploy"></button>
  </p>
</nav>

<p-toast styleClass="custom-toast" key="success" position="top-right"></p-toast>
