<section class="hero is-info is-medium">
  <!-- Hero head: will stick at the top -->
  <div class="hero-head">
    <header class="navbar">
      <div class="container">
        <div class="navbar-brand">
          <a class="navbar-item">
            <span>Roberto</span>
          </a>
          <span class="navbar-burger burger" data-target="navbarMenuHeroC">
            <span></span>
            <span></span>
            <span></span>
          </span>
        </div>
        <div id="navbarMenuHeroC" class="navbar-menu">
          <div class="navbar-end">
            <a class="navbar-item">
              By Dash
            </a>
          </div>
        </div>
      </div>
    </header>
  </div>

  <!-- Hero content: will be in the middle -->
  <div class="hero-body">
    <div class="container has-text-centered">
      <h1 class="title">
        Phew !!! Roberto's here
      </h1>
      <h2 class="subtitle">
        He is here to make your life easier @CIBC
      </h2>
    </div>
  </div>
</section>

<div class="tabs is-centered">
  <ul>
    <li routerLink="/uatpackager" [ngClass]="{'is-active': routerLink === 'UAT Packager'}" (click)="routerLink = 'UAT Packager'"><a>UAT Packager</a></li>
    <li routerLink="/sitdeployment" [ngClass]="{'is-active': routerLink === 'SIT Deployment'}" (click)="routerLink = 'SIT Deployment'"><a>SIT Deployment</a></li>
  </ul>
</div>
<router-outlet></router-outlet>
